.cash-out-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    height: 98px;
    line-height: 98px;
    text-align: center;
    width: 100vw;
    background: linear-gradient(-45deg, rgba(211, 12, 5, 1) 0%, rgba(255, 54, 47, 1) 100%);
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);

    &.no{
        background:#e2e2e2;
    }
}

.withdrawImmediately-container {
    width: 100%;
    padding-bottom: 98px;
    box-sizing: border-box;
    .border-bttom {
        padding-bottom: 20px;
        border-bottom: 20px solid #eee;
        
    }

    .border-bttom2 {
        padding-bottom: 50px;
    }

    .border-bttom-no {
        padding-bottom: 0;
    }
}

.balance-box {
    width: 100%;
    padding: 35px 30px 49px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 1);

    > div {
        h5.tit {
            margin-bottom: 29px;
            font-size: 22px;
            font-weight: 400;
            color: rgba(136, 136, 136, 1);
        }

        .units {
            font-size: 20px;
            display: inline-block;
            vertical-align: top;
        }

        .balance-num {
            font-size: 50px;
            font-weight: 500;
            position: relative;
            top: -10px;
        }
    }

    .current-balance {
        flex: 2;
        text-align: left;

        .balance-item {
            color: #323232;
        }
    }

    .can-withdraw {
        flex: 1;
        text-align: right;

        .balance-item {
            color: #d30c05;
        }
    }
}

.play-box {
    background: #fff;
    padding: 0 30px 1px 30px;
    box-sizing: border-box;

    .top-txt {
        height: 130px;
        line-height: 130px;
        box-sizing: border-box;
        // display: flex;
        font-size: 28px;
        font-weight: 400;
        position: relative;
        .cash-withdrawal-method {
            // flex: 1;
            text-align: left;
            color: #323232;
        }

        .embodiment-statement {
            font-size: 24px;
            width: 170px;
            height: 58px;
            line-height: 58px;
            color: #f65e10;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(246, 94, 16, 1);
            border-radius: 29px;
            text-align: center;
            margin-top: 30px;
            float: right;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .play-types {
        width: 100%;

        .play-item {
            // width: 330px;
            height: 88px;
            // line-height: 88px;
            // text-align: center;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(236, 236, 236, 1);
            border-radius: 10px;
            // font-size: 28px;
            font-weight: 400;
            color: rgba(50, 50, 50, 1);
            float: left;
            &:nth-of-type(2n) {
                float: right;
            }
            margin-top: 20px;
            &:nth-of-type(1),
            &:nth-of-type(2) {
                margin-top: 0;
            }
            .play-img {
                width: auto;
                height: 100%;
                // margin-right: 12px;
            }
        }
        .active {
            border: 1px solid #d30c05;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 28px;
                height: 28px;
                 background: url('~@/assets/images/Selected.png') no-repeat 0 0/28px 28px;
                 z-index: 10;
            }
        }
        .invalid {
            background: none;
            border: 1px solid rgba(236, 236, 236, 1);
            color: #828282;
        }

        &.play-types2 {
            height: 88px;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;

            .play-item {
                width: 330px;
                line-height: 88px;
                text-align: center;
                font-size: 28px;
                margin-top: 0;
                margin-right: 20px;

                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            }
        }
    }

    &.operator-type{
       .play-types{
           display: flex;
           align-items: center;
           .play-item{
               height: 63px;
               margin-top: 0;
               margin-right: 24px;

               &:nth-last-of-type(1){
                   margin-right: 0;
               }
           }
       }
    }
}



.precautions-box {
    margin-top: 170px;
    padding: 0 31px 20px;
    box-sizing: border-box;

    .precautions {
        font-size: 28px;
        font-weight: 400;
        color: rgba(50, 50, 50, 1);
        margin-bottom: 26px;
    }

    .precautions-txt {
        font-size: 24px;
        color: #888888;
        line-height: 36px;

        p {
            margin-bottom: 20px;
        }
    }
}

.progress-content-box {
    width: 100%;
    height: 100px;
    padding-top: 30px;
    overflow-x: scroll;

    .progress-box {
        display: inline-block;
        width: auto;
        padding: 0 30px;

        .schedule {
            position: relative;
            margin: 0 auto;
            height: 10px;
            border-radius: 9px;
            background-color: #fececa;
            display: flex;
            font-size: 24px;
            font-weight: 400;
            color: rgba(50, 50, 50, 1);

            > .active {
                position: absolute;
                top: 0;
                left: 0;
                width: 30%;
                height: 100%;
                background: url('~@/assets/images/progress-bar-2.png') no-repeat;
                background-size: 100%;
                background-color: #f65e10;
                border-radius: 9px;
            }

            > .schedule-item {
                width: 240px;
                padding-top: 45px;
                position: relative;
                text-indent: -20px;

                &::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    left: 0;
                    min-width: 40px;
                    min-height: 40px;
                    border-radius: 50%;
                    background: #ffece6;
                    z-index: 10;

                    // background: linear-gradient(-45deg, rgba(238, 93, 47, 1), rgba(255, 155, 4, 1));
                }
            }

            .schedule-item-1 {
                text-indent: 0;
            }

            > .schedule-item-last {
                position: absolute;
                top: 0;
                right: 0;
                padding-top: 45px;

                &::after {
                    content: '';
                    position: absolute;
                    top: -14px;
                    right: 0;
                    min-width: 40px;
                    min-height: 40px;
                    border-radius: 20px;
                    background: #ffece6;
                }
            }

            .schedule-item-cur {
                &::after {
                    display: block;
                    width: 40px !important;
                    height: 40px !important;
                    background: linear-gradient(-45deg, rgba(246, 94, 16, 1) 0%, rgba(255, 141, 83, 1) 100%) !important;
                    border-radius: 50% !important;
                    z-index: 100;
                }
            }

            .ball-cur {
                &::after {
                    background: url('~@/assets/images/coin.gif') no-repeat 0 0/60px 62px !important;
                    top: -24px !important;
                    right: -20px !important;
                    width: 60px !important;
                    height: 62px !important;
                    margin-left: -8px;
                }
            }
        }
    }
}
.cash-description {
    margin-top: 50px;
    font-size: 28px;
    text-align: left;
    > p + p {
        margin-top: 20px;
    }
}

.list {
    overflow: hidden;
    // margin: 20px 0;
    background: #fff;
    padding: 0 30px;
    li {
        line-height: 111px;
        border-bottom: 1px solid #ddd;
        color: #323232;
        font-size: 28px;
        display: flex;
        span {
            flex: 1;
        }
        input {
            width: 300px;
            text-align: right;
            color: #919395;
        }

        &:nth-last-of-type(1) {
            border-bottom: 0;
        }
    }
}

.cash-withdrawal-box {
    height: 200px;
    background: #fff;
    padding-top: 30px;
    .cash-withdrawal-tit {
        font-size: 28px;
        padding: 30px;
        // margin-bottom: 20px;
    }
}
.alertBox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
    .alertWrap {
        width: 610px;
        height: 432px;
        background: rgba(255, 255, 255, 1);
        border-radius: 20px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        h1 {
            height: 34px;
            font-size: 36px;
            font-weight: bold;
            color: rgba(50, 50, 50, 1);
            line-height: 40px;
            margin: 40px 0;
            text-align: center;
        }
        p {
            height: 141px;
            font-size: 28px;
            font-weight: 400;
            color: rgba(50, 50, 50, 1);
            line-height: 40px;
            padding: 0 30px;
        }
        div {
            font-size: 32px;
            font-weight: bold;
            color: rgba(211, 12, 5, 1);
            height: 100px;
            line-height: 100px;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid rgba(242, 242, 242, 1);
        }
    }
}
.cash-withdrawal-rule {
    padding: 30px;
    padding-top: 60px;
    margin-bottom: 40px;

    &.border-bttom{
        border: 0;
    }
}
.cash-withdrawal-rule-title {
    font-size: 28px;
    color: #323232;
}
.cash-withdrawal-rule-des{
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #323232;

    p{
        margin-bottom: 12px;

        &:nth-last-of-type(1){
            margin-bottom: 0;
        }
    }
}

.cash-withdrawal-rule-text {
    margin-top: 32px;
    font-size: 24px;
    color: #323232;
    line-height: 44px;
}
.cash-withdrawal-rule-img {
    margin-top: 30px;
    min-height: 935px;
    img {
        width: 100%;
    }
}
