.bargain-container {
    > .bargain-header {
        position: relative;
        padding: 40px 30px 150px 30px;
        height: 400px;
        background: url('./../assets/images/bargain-bg.png') no-repeat;
        background-size: 100%;
        > .bargain-info-box {
            background-color: #fff;
            border-radius: 20px;
            padding: 25px 20px;
            > .bargain-info {
                width: 649px;
                height: 238px;
                background: rgba(249, 249, 249, 1);
                border-radius: 10px;
                padding: 13px;
                box-sizing: border-box;

                display: flex;
                > .img-box {
                    width: 220px;
                    height: 220px;
                    margin-right: 24px;
                    > img {
                        width: 100%;
                        height: 212px;
                        // height: 100%;
                    }
                }
                > .detail {
                    flex: 1;
                    > .title {
                        font-size: 26px;
                        color: #323232;
                        line-height: 37px;
                    }
                    > .count-down {
                        margin: 30px 0;
                        font-size: 24px;
                        color: #585858;
                        line-height: 31px;
                        > .time {
                            display: inline-block;
                            background-color: #585858;
                            color: #fff;
                            border-radius: 8px;
                            padding: 0 6px;
                        }
                        > .dec {
                            padding-left: 12px;
                        }
                    }
                    > .price-box {
                        display: flex;
                        align-items: flex-end;
                        > .price-box-item {
                            width: 100px;
                            flex: auto;
                            &:nth-of-type(2) {
                                width: 100px;
                                margin-left: 10px;
                            }
                            > .p-t-1 {
                                font-size: 18px;
                                color: #888;
                                > span:first-child {
                                    font-size: 16px;
                                    color: #f77e18;
                                    // text-decoration: line-through;
                                }
                                > span:last-child {
                                    font-size: 24px;
                                    color: #f77e18;
                                    text-decoration: line-through;
                                }
                            }
                            > .p-t-2 {
                                // min-width: 160px;
                                display: block;
                                padding: 0 6px;
                                background-color: #d30c05;
                                line-height: 24px;
                                color: #fff;
                                font-size: 16px;
                                border-radius: 6px;
                            }
                            > .p-n-1 {
                                color: #d30c05;
                                font-size: 41px;
                                position: relative;
                                // left: 30px;
                                top: 10px;
                                > span {
                                    font-size: 22px;
                                }
                            }
                            > .p-n-2 {
                                color: #888;
                                font-size: 24px;
                                margin-bottom: 6px;
                                position: relative;
                                top: 6px;
                            }
                        }
                    }
                }
            }
            > .bargain-schedule {
                margin: 65px 0 25px 0;
                > .title {
                    font-size: 24px;
                    color: #323232;
                    text-align: center;
                    margin-bottom: 25px;
                    .dollar {
                        font-size: 20px;
                    }
                    > .n-1 {
                        font-size: 30px;
                        color: #f75e10;
                    }
                    > .n-2 {
                        font-size: 30px;
                        color: #d30c05;
                    }
                }
                .schedule {
                    position: relative;
                    margin: 0 auto;
                    width: 580px;
                    height: 18px;
                    border-radius: 9px;
                    background-color: #fececa;
                    display: flex;
                    > .active {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30%;
                        height: 100%;
                        background: url('./../assets/images/progress-bar-2.png') no-repeat;
                        background-size: 100%;
                        background-color: #d30c05;
                        border-radius: 9px;
                    }
                    > .schedule-item {
                        position: relative;
                        flex: 1;
                        padding-top: 40px;
                        text-align: center;
                        font-size: 18px;
                        color: #323232;
                        .highlight {
                            color: #d30c05;
                            font-size: 20px;
                        }
                    }
                    > .schedule-item:nth-of-type(2) {
                        text-align: left;
                    }
                    > .schedule-item:last-of-type {
                        text-align: right;
                    }
                    > .ball::after {
                        content: '';
                        position: absolute;
                        top: -3px;
                        // left: 0;
                        width: 24px;
                        height: 24px;
                        border-radius: 12px;
                        background: linear-gradient(-45deg, rgba(238, 93, 47, 1), rgba(255, 155, 4, 1));
                    }
                    > .ball-center::after {
                        left: calc(50% - 12px);
                    }
                    > .ball-right::after {
                        right: 0;
                    }
                }
            }
        }
    }
    > .bargain-content {
        padding: 0 30px;
        .page-title {
            position: relative;
            width: 100%;
            display: block;
            height: 75px;
            line-height: 75px;
            // margin: 50px 0;
            font-size: 26px;
            text-align: center;
            color: #323232;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 20%;
                width: 70px;
                height: 1px;
                background-color: #ccc;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 20%;
                width: 70px;
                height: 1px;
                background-color: #ccc;
            }
        }
        > .team-box {
            > .team-list {
                margin-bottom: 38px;
                padding-bottom: 30px;
                max-height: 600px;
                overflow-y: scroll;

                > li {
                    display: flex;
                    align-items: center;
                    > .column {
                        flex: 1;
                    }
                }
                > .team-list-title {
                    color: #888;
                    font-size: 22px;
                    text-align: center;
                    > div:first-child {
                        text-align: left;
                    }
                }
                > .team-list-item {
                    margin-top: 30px;
                    & > .column:nth-child(2) {
                        text-align: center;
                        display: block;
                        font-size: 26px;
                        color: #888888;
                        line-height: 90px;
                        > .dollar {
                            font-size: 22px;
                            color: #d30c05;
                            > span {
                                font-size: 30px;
                            }
                        }
                    }
                    > .column {
                        display: flex;
                        > .team-img {
                            padding: 17px 0 0 9px;
                            margin-right: 20px;
                            display: inline-block;
                            > img {
                                width: 90px;
                                height: 90px;
                            }
                        }
                        .huangguan1 {
                            background: url('./../assets/images/huangguan1.png') no-repeat 0 0;
                            background-size: 44px 44px;
                        }
                        .huangguan2 {
                            background: url('./../assets/images/huangguan2.png') no-repeat 0 0;
                            background-size: 44px 44px;
                        }
                        .huangguan3 {
                            background: url('./../assets/images/huangguan3.png') no-repeat 0 0;
                            background-size: 44px 44px;
                        }
                        > .team-info {
                            flex: 1;
                            > .team-name {
                                margin-top: 17px;
                                line-height: 90px;
                                font-size: 24px;
                                color: #323232;
                            }
                        }
                    }
                }
            }
        }
        > .recommend-products {
            display: flex;
            flex-wrap: wrap;
            > .page-title {
                margin-bottom: 30px;
            }
            > .recommend-item {
                box-sizing: border-box;
                width: calc(50% - 10px);
                border: 1px solid rgba(229, 229, 229, 1);
                border-radius: 10px 10px 0px 0px;
                overflow: hidden;
                margin-bottom: 28px;
                > .products-photo {
                    width: 100%;
                    height: auto;
                }
                > .products-title {
                    margin: 15px 10px 27px 10px;
                    color: #323232;
                    font-size: 28px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                > .products-ctrl {
                    line-height: 50px;
                    color: #888;
                    font-size: 24px;
                    padding: 0 24px;
                    margin-bottom: 45px;
                    > .btn {
                        display: block;
                        float: right;
                        font-size: 24px;
                        color: #fff;
                        text-align: center;
                        width: 160px;
                        height: 50px;
                        background: linear-gradient(90deg, rgba(211, 12, 5, 1) 0%, rgba(246, 78, 1, 1) 100%);
                        border-radius: 25px;
                        text-decoration: none;
                    }
                }
            }
            > .recommend-item:nth-of-type(2n) {
                margin-left: 20px;
            }
        }
        > .goods-detail {
            > img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

.down-box {
    width: 100vw;
    height: 98px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;

    .home-btn {
        width: 146px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 18px;
        font-family: Helvetica;
        font-weight: 400;
        color: rgba(194, 194, 194, 1);

        img {
            width: 43px;
            height: auto;
        }
    }

    .buy-now {
        width: 252px;
        height: 98px;
        background: rgba(245, 139, 1, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .share-friends {
        width: 352px;
        height: 98px;
        background: linear-gradient(90deg, rgba(211, 12, 5, 1) 0%, rgba(246, 78, 1, 1) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-family: Helvetica;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
    }
}

// {
//           path: '/',
//           title: 'Home',
//           imgUrl: require('../../../assets/images/tabBar-home.png'),
//           imgActiveUrl: require('../../../assets/images/tabBar-home-active.png')
//         },
