.bargain-container {
    background: linear-gradient(45deg, rgba(232, 43, 35, 1), rgba(253, 84, 72, 1));

    .banner-box {
        padding-top: 31px;
        width: 100vw;
        height: 293px;
        text-align: center;
        position: relative;

        .banner-img {
            width: 717px;
            height: auto;
        }
    }

    .main-content {
        // height: 800px;
        width: 691px;
        margin: 0 auto;
        background: #fff;
        border-radius: 10px;
        padding: 20px 20px 42px;
        box-sizing: border-box;
        position: relative;
        transform-style: preserve-3d;
        perspective: 200px;

        .spu-box {
            width: 652px;
            height: 198px;
            background: rgba(245, 245, 245, 1);
            border-radius: 10px;
            padding: 20px 26px 24px 17px;
            box-sizing: border-box;
            display: flex;
            margin-bottom: 46px;

            .spu-img {
                width: 160px;
                height: 154px;
                margin-right: 20px;
            }

            .spu-info {
                width: 430px;

                .spu-tit {
                    width: 100%;
                    font-size: 26px;
                    font-weight: 400;
                    color: rgba(50, 50, 50, 1);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: 10px;
                }

                .time-and-sum {
                    display: flex;

                    .spu-num {
                        flex: 1;
                        text-align: right;
                        width: 105px;
                        height: 19px;
                        font-size: 20px;
                        font-family: 'DIN-Medium';
                        font-weight: 500;
                        color: rgba(136, 136, 136, 1);
                    }
                }

                .rp-box {
                    font-size: 20px;
                    font-family: 'DIN-Light';
                    font-weight: 500;
                    color: rgba(211, 12, 5, 1);
                    line-height: 37px;
                    margin-top: 30px;
                    display: flex;

                    .rp {
                        position: relative;
                        top: 2px;
                    }

                    .original-price {
                        margin-left: 16px;
                        height: 22px;
                        font-size: 16px;
                        font-family: 'DIN-Light';
                        font-weight: 500;
                        text-decoration: line-through;
                        color: rgba(136, 136, 136, 1);
                        line-height: 37px;
                    }
                }
            }
        }

        > .bargain-schedule {
            margin: 35px 0 65px 0;
            > .title {
                font-size: 34px;
                // color: #323232;
                color: #000;
                text-align: center;
                margin-bottom: 25px;
                font-size: 24px;
                font-family: 'DIN-Medium';
                font-weight: 500;
                line-height: 54px;

                .dollar {
                    font-size: 18px;
                    position: relative;
                    top: 2px;
                    font-weight: 400;
                }
                > .n-1 {
                    font-size: 28px;
                    color: #f75e10;
                    font-weight: 600;
                }
                > .n-2 {
                    font-size: 28px;
                    color: #d30c05;
                    font-weight: 600;
                }
            }

            .schedule {
                position: relative;
                margin: 0 auto;
                width: 578px;
                height: 28px;
                // overflow: hidden;
                border-radius: 28px;
                background-color: #fececa;
                display: flex;
                margin-bottom: 50px;
                > .active {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: url('~@/assets/images/progress-bar-2.png') no-repeat 0 0/100% 100%, linear-gradient(-45deg, rgba(213, 16, 5, 1), rgba(245, 75, 1, 1));
                    border-radius: 28px;
                }

                .highlight {
                    color: #d30c05;
                    font-size: 24px;
                    font-family: 'MyriadPro-Regular';
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    line-height: 28px;
                    position: relative;
                    left: 100px;
                }

                > .schedule-item {
                    position: relative;
                    flex: 1;
                    padding-top: 40px;
                    text-align: center;
                    font-size: 18px;
                    color: #323232;
                }
                > .schedule-item:nth-of-type(2) {
                    text-align: left;
                }
                > .schedule-item:last-of-type {
                    text-align: right;
                }
                > .ball::after {
                    content: '';
                    position: absolute;
                    top: -2px;
                    right: 0;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background: linear-gradient(-45deg, rgba(238, 93, 47, 1), rgba(255, 155, 4, 1));
                }
                > .ball-center::after {
                    left: calc(50% - 12px);
                }
                > .ball-right::after {
                    right: 0;
                }
            }
        }

        @keyframes btnmove {
            0% {
                transform: translateZ(0);
            }

            100% {
                transform: translateZ(1px);
            }
        }

        .main-btn {
            width: 656px;
            height: 90px;
            box-shadow: 0px 2px 2px 2px #ff890a;
            line-height: 90px;
            text-align: center;
            background: linear-gradient(0deg, rgba(255, 229, 89, 1) 0%, rgba(255, 215, 0, 1) 100%);
            border-radius: 45px;
            margin: 0 auto;
            font-size: 32px;
            font-family: Helvetica;
            font-weight: 600;
            color: rgba(211, 12, 5, 1);
            margin-bottom: 53px;
            transform: translateZ(0);
            animation: btnmove 0.3s ease-in-out infinite alternate;
        }

        .team-box {
            width: 653px;
            background: rgba(249, 249, 249, 1);
            border-radius: 10px;
            border-radius: 10px;
            color: #323232;

            > .page-title {
                position: relative;
                width: 100%;
                display: block;
                height: 100px;
                line-height: 100px;
                background: rgba(242, 242, 242, 1);
                font-size: 32px;
                text-align: center;
            }
            > .team-list {
                padding-bottom: 30px;
                max-height: 600px;
                overflow-y: scroll;

                > li {
                    height: 100px;
                    margin: 0 50px;
                    display: flex;
                    align-items: center;

                    > .column {
                        flex: 2;
                        display: flex;
                        align-items: center;
                    }
                    > .column + .column {
                        flex: 1;
                        justify-content: flex-end;
                    }
                }
                > .team-list-item {
                    background: url('./../assets/images/dollar-icon.png') no-repeat 100% center;
                    background-size: 41px 41px;
                    .team-img > img {
                        width: 74px;
                        height: 74px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 0 12px 0 6px;
                        background: #fff;
                    }
                    .team-name {
                        font-size: 25px;
                        margin-bottom: 5px;
                    }
                    .team-date {
                        font-size: 19px;
                        color: #888888;
                    }
                    .dollar {
                        font-size: 25px;
                        margin-right: 57px;
                        color: #f75e10;
                        position: relative;
                        top: 6px;
                    }
                }
            }
        }

        .world-news {
            width: 653px;
            color: #323232;
            background: rgba(254, 247, 234, 1);
            border-radius: 10px;

            .world-info-tit {
                width: 100%;
                height: 100px;
                line-height: 100px;
                background: #ffefd0;
                text-align: center;
                font-size: 28px;
                font-family: Helvetica;
                font-weight: 600;
                color: rgba(113, 81, 12, 1);
            }

            .world-list {
                width: 100%;
                padding: 42px 28px 37px;
                box-sizing: border-box;
                max-height: 600px;
                overflow-y: scroll;

                .world-item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-top: 44px;

                    &:nth-of-type(1) {
                        margin: 0;
                    }

                    .cur-user-icon {
                        width: 66px;
                        height: 66px;
                        border-radius: 50%;
                        margin-right: 19px;
                    }

                    .info-box {
                        width: 508px;

                        .info-txt {
                            height: 25px;
                            font-size: 26px;
                            font-family: Helvetica;
                            font-weight: 400;
                            color: #666;
                            line-height: 32px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .time {
                            margin-top: 10px;
                            height: 18px;
                            font-size: 19px;
                            font-family: Helvetica;
                            font-weight: 400;
                            color: #9d9d9d;
                            line-height: 32px;
                        }
                    }
                }
            }
        }

        .team-end-n {
            width: 653px;
            background: rgba(249, 249, 249, 1);
            border-radius: 10px;
            border-radius: 10px;
            color: #323232;

            > .team-end-title {
                position: relative;
                width: 100%;
                display: block;
                height: 100px;
                line-height: 100px;
                background: rgba(242, 242, 242, 1);
                font-size: 32px;
                text-align: center;
            }
            .team-n-list {
                padding-bottom: 30px;
                max-height: 600px;
                overflow-y: scroll;

                .team-n-list-item {
                    height: 100px;
                    margin: 0 50px;
                    display: flex;
                    align-items: center;

                    .team-img > img {
                        width: 74px;
                        height: 74px;
                        border-radius: 50%;
                        overflow: hidden;
                        background: #fff;
                        margin-right: 19px;
                    }

                    .info-box {
                        width: 500px;

                        .info-txt {
                            height: 28px;
                            font-size: 26px;
                            font-family: Helvetica;
                            font-weight: 400;
                            color: #666;
                            line-height: 32px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .time {
                            margin-top: 10px;
                            height: 18px;
                            font-size: 19px;
                            font-family: Helvetica;
                            font-weight: 400;
                            color: #9d9d9d;
                            line-height: 32px;
                        }
                    }
                }
            }
        }
    }

    > .bargain-content {
        margin-top: 38px;

        > .recommend-products {
            display: flex;
            flex-wrap: wrap;
            background-color: #f5f5f5;
            padding: 0 35px;
            > .page-title {
                position: relative;
                width: 100%;
                display: block;
                height: 100px;
                line-height: 160px;
                // margin: 50px 0;
                font-size: 34px;
                text-align: center;
                color: rgba(230, 81, 55, 1);
                background: linear-gradient(180deg, rgba(244, 74, 2, 1) 0.2685546875%, rgba(212, 14, 5, 1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                > img {
                    width: auto;
                    height: 39px;
                    margin-right: 24px;
                }
            }
            > .recommend-item {
                background: #fff;
                box-sizing: border-box;
                width: calc(50% - 10px);
                height: 540px;
                border: 1px solid #f1ecec;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 28px;
                > .products-photo {
                    width: 100%;
                    height: 334px;
                }
                > .products-title {
                    margin: 15px 10px 10px 10px;
                    color: #323232;
                    font-size: 28px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > .money {
                    color: #888;
                    font-size: 20px;
                    padding: 0 20px;
                    margin-bottom: 20px;
                }

                > .btn {
                    display: block;
                    font-size: 26px;
                    color: #fff;
                    text-align: center;
                    width: 220px;
                    height: 60px;
                    line-height: 60px;
                    background: linear-gradient(90deg, rgba(246, 78, 1, 1) 0%, rgba(211, 12, 5, 1) 100%);
                    border-radius: 60px;
                    text-decoration: none;
                    padding: 0 20px;
                    margin: 0 auto;
                }
            }
            > .recommend-item:nth-of-type(2n) {
                margin-left: 20px;
            }
        }
        > .help-page {
            background: linear-gradient(180deg, rgba(229, 57, 49, 1), rgba(233, 72, 64, 1));
            box-shadow: 0px 2px 4px 0px rgba(152, 19, 0, 0.46);
            border-radius: 10px;
            margin: 0 30px 30px 30px;
            > .page-title {
                position: relative;
                width: 100%;
                display: block;
                height: 100px;
                line-height: 100px;
                // margin: 50px 0;
                font-size: 32px;
                text-align: center;
                color: #fff;
            }
            > .help-list {
                margin: 0 50px;
                border-top: 1px dotted #ffb893;
                display: flex;
                justify-content: center;
                > .help-item {
                    flex: 1;
                    text-align: center;
                    padding: 60px 0;
                    color: #fff;
                    font-size: 24px;
                    font-weight: lighter;
                    > img {
                        width: 86px;
                        height: 86px;
                        margin-bottom: 23px;
                    }
                    & + .help-item {
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 30%;
                            left: -50px;
                            display: block;
                            width: 37px;
                            height: 27px;
                            background: url('./../assets/images/jiantou.png') no-repeat;
                            background-size: 37px 27px;
                        }
                    }
                }
                > .help-item:nth-of-type(2) {
                    margin: 0 50px;
                }
            }
        }
    }
}

.down-box {
    width: 100vw;
    height: 98px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;

    .home-btn {
        width: 146px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 400;
        color: rgba(194, 194, 194, 1);

        img {
            width: 43px;
            height: auto;
        }
    }

    .buy-now {
        width: 252px;
        height: 98px;
        background: rgba(245, 139, 1, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .share-friends {
        width: 352px;
        height: 98px;
        background: linear-gradient(90deg, rgba(211, 12, 5, 1) 0%, rgba(246, 78, 1, 1) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
    }
}

.n-go-p {
    width: 500px;
    height: 103px;
    font-size: 26px;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
    line-height: 39px;
    margin: 0 auto;
    margin-top: 20px;
}

.old-txt {
    margin-top: 16px;
}
