.freebing-big-box {
    width: 100%;
    height: 262px;
    padding: 28px 31px 26px 24px;
    box-sizing: border-box;

    .t-box {
        width: 100%;
        height: 140px;
        display: flex;
        margin-bottom: 17px;

        .good-img {
            width: 140px;
            height: 100%;
            margin-right: 27px;
        }

        .c-content {
            width: 286px;
            height: 100%;

            .good-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 24px;
            }

            .progress {
                width: 286px;
                height: 24px;
                line-height: 24px;
                background: rgba(255, 194, 175, 1);
                border-radius: 12px;
                position: relative;
                font-size: 20px;
                font-family: 'DIN-Medium';
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                text-align: center;

                .progress-content {
                    height: 24px;
                    background: #f57224;
                    border-radius: 12px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }

        .price-box {
            flex: 1;
            text-align: right;
            overflow: hidden;

            > div {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.price-num {
                    font-size: 28px;
                    font-family: 'DIN-Medium';
                    font-weight: 500;
                    color: rgba(211, 12, 5, 1);
                    line-height: 30px;
                    margin-bottom: 7px;
                }

                &.original-price {
                    width: 100%;
                    font-size: 24px;
                    font-family: 'DIN-Medium';
                    font-weight: 500;
                    text-decoration: line-through;
                    color: rgba(136, 136, 136, 1);
                    line-height: 30px;
                }

                &.complete-txt {
                    width: 100%;
                    font-size: 24px;
                    font-family: Helvetica;
                    font-weight: 400;
                    color: rgba(136, 136, 136, 1);
                    line-height: 30px;
                    margin-top: 7px;
                }
            }
        }
    }

    .d-box {
        display: flex;
        justify-content: flex-end;

        .lanjutkan-btn {
            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: 1px solid rgba(246, 78, 1, 1);
            border-radius: 25px;
            font-size: 24px;
            font-family: Helvetica;
            font-weight: 400;
            color: rgba(246, 78, 1, 1);
        }

        .beli-btn {
            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin-left: 21px;
            border-radius: 25px;
        }

        .hot {
            background: rgba(211, 12, 5, 1);
            border: 1px solid rgba(211, 12, 5, 1);
            color: #ffffff;
        }
    }
}

// .freebing-container {
//     padding: 24px;
//     // background-color: #fff;
//     // border-radius: 20px;
//     > .good-box {
//         position: relative;
//         margin-top: 44px;
//         display: flex;
//         > .good-img {
//             width: 202px;
//             height: 202px;
//             padding: 18px 0;
//             margin-right: 30px;
//         }
//         > .good-detail {
//             overflow: hidden;
//             position: relative;
//             > .good-title {
//                 font-size: 30px;
//                 color: #323232;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//                 white-space: nowrap;
//             }

//             .left-box {
//                 width: 235px;
//                 position: absolute;
//                 bottom:0;
//                 left: 0;
//                 .num-box {
//                     max-width: 100%;

//                     .rp-box {
//                         font-size: 24px;
//                         font-weight: bold;
//                         color: rgba(212, 13, 5, 1);
//                         line-height: 33px;
//                         margin-right: 16px;
//                     }

//                     .compeled {
//                         font-size: 24px;
//                         font-weight: 400;
//                         color: rgba(136, 136, 136, 1);
//                         line-height: 33px;
//                     }
//                 }

//                 .progress {
//                     margin: 19px 0;
//                     position: relative;
//                     // width: 100%;
//                     height: 28px;
//                     border-radius: 14px;
//                     background-color: #fececa;
//                     padding: 0 16px;
//                     line-height: 28px;
//                     color: #fff;
//                     font-size: 24px;
//                     overflow: hidden;
//                     > img {
//                         // z-index: 1;
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         height: 100%;
//                     }
//                     > .progress-content {
//                         position: relative;
//                         height: 100%;
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         > span:last-child {
//                             float: right;
//                             color: #fff;
//                             // font-weight: bold;
//                         }
//                     }
//                 }
//             }

//             > .count-down {
//                 font-size: 26px;
//                 color: #585858;
//                 line-height: 33px;
//                 > .time {
//                     display: inline-block;
//                     background-color: #585858;
//                     color: #fff;
//                     border-radius: 8px;
//                     padding: 0 6px;
//                 }
//                 > .dec {
//                     // padding-left: 12px;
//                 }
//             }
//             > .goods-control {
//                 width: 150px;
//                 position: absolute;
//                 right: 0;
//                 bottom: 6px;

//                 > span {
//                     display: block;
//                     width: 100%;
//                     height: 56px;
//                     line-height: 56px;
//                     text-align: center;
//                     box-sizing: border-box;
//                 }

//                 .go-on-btn {
//                     background: rgba(255, 255, 255, 1);
//                     border: 1px solid rgba(211, 12, 5, 1);
//                     border-radius: 28px;
//                     font-size: 26px;
//                     font-weight: bold;
//                     color: rgba(211, 12, 5, 1);
//                     margin-bottom: 20px;
//                 }

//                 .r-b {
//                     background: linear-gradient(-45deg, rgba(211, 12, 5, 1) 0%, rgba(246, 78, 1, 1) 100%);
//                     border-radius: 28px;
//                     font-size: 26px;
//                     font-weight: bold;
//                     color: rgba(255, 255, 255, 1);
//                     border: 0;
//                 }
//             }
//         }
//     }
// }
